html, body {
  height: 100%;
}

body {
  background-image: linear-gradient(rgb(206, 134, 242),white);
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 1vh; */
}

.start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#start {
  margin-top: 20px;
}

.player-selection {
  margin: 10px;
}
.game-container {
  display: grid;
  border: 2px solid black;
  /* padding: 2px; */
  height: 80%;
  width: 80%;
  grid-template-columns: 0.8fr 1.2fr 1.2fr 0.8fr;
  grid-template-rows: 0.7fr 1.6fr 0.7fr 0.6fr 1.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "restart sprite sprite ."
    ". sprite sprite boss-hp"
    ". game-text game-text ."
    "game-info game-info game-info game-info"
    "play-options play-options play-options play-options";
}

.sprite { 
  grid-area: sprite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restart { 
  grid-area: restart; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-text { 
  grid-area: game-text;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-info { 
  grid-area: game-info;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-options { 
  grid-area: play-options;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boss-hp {
  grid-area: boss-hp;
  display: flex;
  /* flex-direction: column; */
  justify-content:flex-start;
  align-items: center;
}


/* .carousel-inner > .item > img {
  height: 200px;
} */