@import url('https://fonts.googleapis.com/css2?family=Mukta&family=VT323&display=swap');

html, body {
  height: 100%;
  box-sizing: border-box;
}

body {
  /* background-image: linear-gradient(rgb(206, 134, 242),white); */
  background: url(/images/particles.gif);
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: 'VT323', monospace;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 1vh; */
}

.start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'VT323', monospace;
  font-size: 1vh;
  color: white;
  gap: 10px;
}

#start {
  margin-top: 20px;
  font-size: 2vh;
}

#main-message {
  font-size: 6vw;
}

.player-selection {
  margin: 10px;
}

#select {
  margin-top: 20px;
  font-size: 2vh;
  bottom: 10%;
}

#select-container {
  bottom: 10%;
}
.carousel-item,
.carousel-inner,
.carousel-inner img {
  height: 90%;
  width: auto;
  margin-bottom: 20px;
}

.carousel-item {
  text-align: center;
}

.carousel {
  height: 450px;
}

.game-bottom {
  width:500px;
}

.game-container {
  display: grid;
  font-family: 'VT323', monospace;
  /* padding: 2px; */
  color: white;
  /* height: 90%; */
  /* width: 90%; */
  margin: 10px 10px 30px 10px;
  grid-template-columns: 0.8fr 1.2fr 1.2fr 0.8fr;
  grid-template-rows: 0.7fr 1.6fr 0.7fr 0.6fr 1.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". sprite sprite boss-hp"
    ". sprite sprite ."
    "game-text game-text game-text game-text"
    "game-info game-info game-info game-info"
    "play-options play-options play-options play-options";
}
.game-top {
  width: 100%; 
}

#game-message-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-message {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'VT323', monospace;
  font-size: 6vh;
  text-align: center;
  color: white;
}

.top-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.top-buttons > div:last-of-type {
  margin-left:auto;
}

.restart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
}

#restart-button {
  height:50px;
  width: 50px;
  font-size: 3.5vh;
  background-color: white;
  background-position: center; 
  border:0;
  border-radius: 25px;
  font-family: 'VT323', monospace;
}

#reset-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.continue-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  font-weight: bold;
}

#continue {
  font-size: 3vh;
  width: 100%;
}
#sprite-background {
  grid-area: sprite;
  background: url(/images/parallax-mountain-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25%;
}

.sprite { 
  /* grid-area: sprite; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/images/mitch-the-litch.gif');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  height: 100%;
  margin-top: 10px;
}

/* .restart { 
  grid-area: restart; 
  display: flex;
  justify-content: center;
  align-items: center;
} */

.game-text { 
  grid-area: game-text;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.game-info { 
  grid-area: game-info;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 3vh;
}

#health {
  /* border: solid black 1px; */
  padding: 10px;
}

#ap {
  /* border: solid black 1px; */
  padding: 10px;
}

#turn {
  /* border: solid black 1px; */
  padding: 10px;
}

.info {
  font-weight: bold;
}

.play-options { 
  grid-area: play-options;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.btn {
  max-height: 10vh;
}
.btn-primary {
  background-color: white !important;
  border-color: white;
  color: black;
}
.btn-primary:hover {
  border-color: grey;
  color: black;
}
.btn-success {
  background-color: rgb(179, 20, 20) !important;
  border-color: white;
}

.btn-success:hover{
  border-color: grey;
}

.btn-success:disabled{
  border-color: grey;
}

#standard-att {
  font-size: 3vh;
}
#defense {
  font-size: 3vh;
}
#special-att {
  font-size: 3vh;
}
#ultimate {
  font-size: 3vh;
  /* min-height: 10vh; */
}
#rules-button {
  font-size: 2vh;
}
#in-game-rules-button {
  font-size: 2vh;
  margin-left: 30px;
  height: 100%;
}

.boss-hp {
  grid-area: boss-hp;
  display: flex;
  flex-direction: column;
  /* flex-direction: column; */
  justify-content:flex-start;
  align-items: center;
  text-align: center;
  font-size: 3vh;
}

.modal {
  color: black;
}

.modal-text {
  font-size: 20px;
}
h5 {
  font-size: 30px;
  font-weight: bold;
}
h6 {
  font-size: 25px;
}

/* .carousel-inner > .item > img {
  height: 200px;
} */

#mage {
  background: url(/images/mountains-night.png);
  background-position: center;
  background-size: cover;
}

.character-name {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  margin-bottom: 20px;
}

#mage-button {
  /* width: 100%; */
  font-size: 30px !important;
}